.container_modalCard {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.container_modalCard_card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    font-size: 12px;
    z-index: 1;
}

.container_modalCard_description {
    padding-left: 1rem;
    font-size: 1.6rem;
    text-align: start;
    height: 250px;
    width: auto;
    margin-bottom: 11rem;
    overflow: scroll;
    text-overflow: ellipsis;
}

.container_modalCard_botton {
    width: 94%;
    position: absolute;
    bottom: 8rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: space-around;
    padding-top: 0.5rem;
    border-top: 0.1rem solid rgb(250, 242, 242);
}

.container_modalCard_botton_rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_modalCard_botton button {
    display: flex;
    bottom: 4rem;
    background-color: red;
    padding: 1.5rem;
    border-radius: 0.3rem;
}