.container_modalBadge {
    position: absolute;
    display: flex;
    text-align: start;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
}

.container_modalBadge_card {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    top: 5rem;
    right: 1rem;
    height: 12rem;
    overflow: scroll;
    width: 95%;
    border-radius: 1rem;
    background-color: #fff;
    border: 2px solid red;
}

.container_modalBadge_card img {
    width: 1rem;
    position: absolute;
    right: 1rem;
}

ul {
    font-size: 1rem;
}

.container_modalBadge_card_list {
    display: flex;
}

.container_modalBadge_card button {
    height: auto;
    width: auto;
    position: absolute;
    font-size: 1rem;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    align-items: center;
    background-color: red;
    justify-content: space-around;
    padding: 0.5rem;
    border-radius: 2rem;

}