.container_login {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 43vh;
    width: 50vw;
    top: 2.5rem;
    left: 8rem;
    z-index: 5;
}

.container_login_button {
    display: flex;
    width: 90%;
    margin-top: 3rem;
    justify-content: space-around;
}

.container_login form {
    position: relative;
    padding-top: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 90%;
    background-color: #fff;
    border-radius: 1rem;
    border: 0.1rem solid lightgray
}

.container_login form span {
    margin-top: 3rem;
}

form img {
    width: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}