.container_header {
    position: relative;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-color: rgb(110, 30, 148);
    height: 5rem;
    max-width: 100%;
    z-index: 1;
    color: #fff;
}

.container_header_menu img {
    margin-top: 0.5rem;
    height: 4rem;
    border-radius: 50%;
}

.container_header_signIn,
.container_header_signUp {
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

.container_header_avatar {
    position: absolute;
    right: 2rem;
    display: flex;
    align-items: center;
}

.container_header_avatar strong {
    font-size: 0.7rem;
    margin-left: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}