header {
    display: flex;
    height: 25rem;
    width: 100%;
    background-color: #1DA1F2;
    background: linear-gradient(to right, #1DA1F2, #000000);
    align-items: center;
    justify-content: center;
    gap: 12rem;
}

img {
    width: 20rem;
}

.ContainerHeader {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin: 0.5rem 0;
    /* Ajustar o espaçamento */
}

h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    margin: 0.5rem 0;
    /* Ajustar o espaçamento */
}

h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0.5rem 0;
    /* Ajustar o espaçamento */
}

.whatsapp-button {
    background-color: rgba(255, 0, 0, 0.7);
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.5rem 0;
    /* Ajustar o espaçamento */
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: pulse 1.5s infinite;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
        transform: scale(1.05);
        box-shadow: 0 0 15px 10px rgba(255, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

/* Responsividade */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
        /* Ajusta altura no modo responsivo */
        padding: 1rem;
        /* Adiciona padding no modo responsivo */
    }

    header img {
        width: 65%;
        border-radius: 0 10px 10 px;
        /* Reduzir tamanho da imagem em 35% */
    }

    .ContainerHeader {
        width: 90%;
        text-align: center;
        margin-top: 1rem;
    }

    .whatsapp-button {
        width: 50%;
        padding: 20px 0;
        font-size: 26px;
    }
}