.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #1DA1F2, #000000);
    /* Azul metálico puxando para preto */
    color: white;
    padding: 2rem;
    border-top: 5px solid #000000;
}

.footer-left {
    flex: 1;
    text-align: left;
}

.footer-right {
    flex: 1;
    text-align: right;
}

.footer-left h3 {
    font-size: 24px;
    margin-bottom: 0.5rem;
}

.footer-left p {
    font-size: 16px;
    margin: 0.5rem 0;
}

.footer-right p {
    margin-bottom: 0.5rem;
}

.footer-right a {
    color: #FF3F34;
    /* Vermelho metálico */
    margin: 0 0.5rem;
    text-decoration: none;
    font-size: 24px;
    /* Tamanho dos ícones */
}

.footer-right a:hover {
    color: #FFFFFF;
    /* Mudar a cor ao passar o mouse */
    text-decoration: underline;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-center {
        display: none;
    }

    .footer-left,
    .footer-right {
        text-align: center;
        margin: 1rem 0;
    }

    .footer-right p {
        display: none;
    }
}